[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = {extras = ["markdown"], version = "*"}
ghp-import = "*"
pelican-cite = {editable = true, path = "./submodules/pelican-cite"}
beautifulsoup4 = "*"
pelican-render-math = {editable = true, path = "./submodules/render-math"}

[dev-packages]

[requires]
python_version = "3.10"
